[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pre-commit = "*"
black = "*"
nose2 = "*"
sniffer = "*"
macfsevents = "*"
radon = "*"
flake8-polyfill = "*"
wily = "*"
watchdog = "*"
argh = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
